@model Domain.Entities.Event
@using WebUI.HtmlHelpers
<div class="container">
    <h2 class="text-center">@Html.DisplayTextFor(m=>m.Name)</h2>
    <table class="table table-hover">
        <thead></thead>
        <tbody>
            <tr>
                <td>@Html.LabelFor(m => m.Name)</td>
                <td>@Html.DisplayFor(m => m.Name)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m=>m.Date)</td>
                <td>@Html.DisplayFor(m=>m.Date)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m => m.Time)</td>
                <td>@Html.DisplayFor(m => m.Time)</td>
            </tr>
            <tr>
                <td><label>Количетсво занятых мест</label></td>
                <td>@Html.ProgressBar(Model.ReservedPeople,Model.CountPeople)</td>
            </tr>
            @if (Model.EventsValue.Count > 0) {
                foreach(var p in Model.EventsValue) { 
                <tr>
                    <td>@Html.Label(p.AttrName)</td>
                    <td>@Html.Raw(p.AttrValue)</td>
                </tr>
                }
            }
        </tbody>
    </table>
    @if (Model.CountPeople > Model.ReservedPeople)
    {
        <a href="@Url.Action("RegisterOnEvent", new { id = Model.Id })" class="btn btn-block btn-lg btn-success">
            <span class="glyphicon glyphicon-thumbs-up"></span> Зарегистрироваться на мероприятие
        </a>
    }
    else
    {
        <a href="#" class="btn btn-block btn-lg btn-warning">
            <span class="glyphicon glyphicon-user"></span> Регистрация на мероприятие завернено
        </a>
    }

</div>
